<h1>All Events</h1>

<p>
  <%= link_to "New Event", new_event_path %>
</p>

<% @events.each do |event| %>
  <h2><%= link_to event.name, event %> </h2>
  <p><%= event.city %></p>
  <p><%= event.date %></p>
  <p><%= event.capacity %></p>

<% end %>
